menu "GreenField (AgTech4All Project)"    

    config ATL_LED_BUILTIN_GPIO
        int "LED builtin GPIO number"
        range 0 48
        default 5 if IDF_TARGET_ESP32
        default 18 if IDF_TARGET_ESP32S2
        default 48 if IDF_TARGET_ESP32S3
        default 8
        help
            GPIO number (IOxx) to LED builtin.

    config ATL_LED_BUILTIN_PERIOD
        int "LED builtin period (in ms)"
        range 100 3600000
        default 2000
        help
            Define the LED builtin blinking period in milliseconds.

    config ATL_BUTTON_GPIO
        int "Button GPIO number"
        range 0 48              
        default 0
        help
            GPIO number (IOxx) to button.            

endmenu
